.search-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.search-header {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.search-form {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.search-input {
  width: 80%;
}

.search-button {
  margin-left: 10px;
}

.search-result {
  width: 100%;
  text-align: left;
}

.table-result {
  width: 100%;
  text-align: center;
  overflow-x: auto;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
  margin-top: 20px;
  display: block;
}

.table-result table {
  width: 100%;
  table-layout: fixed;
}

.table-result th, .table-result td {
  text-align: center;
  padding: 8px;
  font-size: 0.8rem;
}

@media (max-width: 1024px) {
  .table-result th, .table-result td {
    font-size: 0.8rem;
  }
  .search-form {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .table-result th, .table-result td {
    font-size: 0.7rem;
  }
  .search-form {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .table-result th, .table-result td {
    font-size: 0.6rem;
  }
  .search-form {
    width: 100%;
  }
}
