.search-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.search-header {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.search-form {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-input {
  width: 80%;
}

.search-button {
  margin-left: 10px;
}

.search-result {
  width: 100%;
  text-align: left;
}

.table-result {
  width: 100%;
  text-align: center;
  overflow-x: auto;
  background-color: #ffffff;
  margin-top: 20px;
  display: block;
}

.table-result table {
  width: 100%;
  table-layout: fixed;
}

.table-result th,
.table-result td {
  text-align: center;
  padding: 8px;
  font-size: 1rem;
  min-width: 100px;
  word-break: break-word;
  white-space: normal;
}

@media (max-width: 1024px) {
  .table-result th,
  .table-result td {
    font-size: 0.8rem;
  }
  .search-form {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .table-result th,
  .table-result td {
    font-size: 0.75rem;
    padding: 6px;
  }
  .search-form {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .table-result {
    overflow-x: auto;
  }

  .table-result table {
    min-width: 600px;
  }

  .table-result th,
  .table-result td {
    font-size: 0.7rem;
    padding: 4px;
  }

  .search-form {
    width: 100%;
  }
}
