.App {
  font-family: 'Roboto', sans-serif;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

.App-header {
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo-container img {
  height: 50px;
}

.contact-info {
  font-size: 2vmin;
}



.header-bottom {
  margin-top: 10px;
  text-align: center;
}

.header-title {
  font-size: 3vmin;
  color: #1f1f1f;
  text-align: center;
}

.App-footer {
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-body {
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.search-title {
  display: block;
  margin-bottom: 20px; /* Отступ снизу */
  font-size: 3vmin;
  text-align: center;
  color: #1f1f1f;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  
}

.search-form {
  border-radius: 5px;
  margin-right: 20px;
}

.search-input {
  text-align: right;
}

